<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Las Vegas has the most hotel rooms in the world.</string>
	<string>The rear section of an airplane gives you the bumpiest ride as the rear is where you feel the turbulence the most.
</string>
	<string>Odds that you&apos;ll be killed by an airplane falling from the sky are 1 in 25 million. Odds that it will happen today are 1 in 7 trillion.
</string>
	<string>American Airlines saved $40,000 in 1987 by taking out an olive from First Class salads.
</string>
	<string>Tasmania is said to have the cleanest air in the world.
</string>
	<string>Club Direct, a travel insurance company in Britain, provides insurance plans for protection from falling coconuts.
</string>
	<string>France is the most visited country in the world. Approximately 80 million tourists visited France in 2010 and the Eiffel Tower was by far the most visited attraction.
</string>
	<string>At any give hour there are 61,000 people airborne over the US.
</string>
	<string>The world&apos;s busiest airport by passenger traffic is Hartsfield-Jackson Atlanta International Airport (over 80 million passengers in 2010). Sydney Airport is the world&apos;s 27th busiest airport with 33 million passengers in 2010.
</string>
	<string>The world&apos;s most expensive plane ticket cost Sydney millionaire Julian Hayward a staggering $123.000. He was the first person to buy a seat on the Airbus A380 maiden flight between Singapore and Sydney in 2007.
</string>
	<string>The “you are here” arrow on maps is called an ideo locator.</string>
	<string>Chances that an American lives within 50 miles of where they grew up: 1 in 2.
</string>
	<string>People began surfing in Hawaii before Columbus sailed to America.</string>
	<string>Winnipeg, Manitoba, Canada is the slurpee capitol of the world! Residents of the city, despite the cold weather, drink more slurpees per capita than any other city!</string>
	<string>On an average day 102 people visit the Dr. Pepper museum in Waco, TX.
</string>
	<string>There are two places on earth where men outlive women: southern Asia and Iran.</string>
	<string>State with the highest percentage of people who walk to work: Alaska.</string>
	<string>Ten percent of the Russian government’s income comes from the sale of vodka.</string>
	<string>The Tokyo Zoo, located in Japan, closes down for two months every year to give the animals a little break from the people.</string>
	<string>Theres only one mobile U.S. national monument: the cable cars in San Fransisco.</string>
	<string>The US city with the most lightning strikes per capita is Clearwater, Florida.</string>
	<string>City with the most Rolls Royce’s per capita: Hong Kong.</string>
	<string>Hong Kong has just overtaken Tokyo as the world’s most expensive city. US cities don’t even make the list till number 21 (New York).</string>
	<string>Texas is also the only state that is allowed to fly its state flag at the same height as the U.S. flag.</string>
	<string>In the Maldives, there are more than 2 jails for every 1000 people.</string>
	<string>Over 10 million Indonesians are boy scouts.</string>
	<string>People might eat oats when they&apos;re hungry, but people from Hungary don&apos;t eat oats.</string>
	<string>What is in a name? More than 90% of people in Bhutan, Burundi and Burkina Faso are involved in agriculture.</string>
	<string>Iceland has many, many more tractors per 1000 hectares of cropland than any other nation - more than twice that of the next highest country, Slovenia.</string>
	<string>Costa Rica leads the world in per capita exports of bananas, cassava, melons, and pineapples to the United States. Unsuprisingly, they’re also first in pesticide use.</string>
	<string>You&apos;re 66 times more likely to be prosecuted in the USA than in France</string>
	<string>If you&apos;re in Montserrat, watch your back! Nearly 1% of the population are police officers.</string>
	<string>Per capita, South Africa has the most assaults, rapes, and murders with firearms.</string>
	<string>Two-thirds of the world&apos;s executions occur in China.
</string>
	<string>America puts many more of its citizens in prison than any other nation.</string>
	<string>Venezuela is one of the happiest and most murderous places in the world.</string>
	<string>Russia has almost twice as many judges and magistrates as the United States. Meanwhile, the United States has 8 times as much crime.</string>
	<string>One in every three Australians is a victim of crime.
</string>
	<string>Saudi diplomats have 367 unpaid parking fines in Britain.</string>
	<string>In pure number terms, more crimes are committed in America than in any other nation. The same goes for burglaries, car thefts, rapes and assaults.</string>
	<string>The United States puts 0.7 % of its population in Prison - a vastly higher percentage than any other nation.</string>
	<string>India’s criminal courts acquitted over a million defendants in 1999, more than the next 48 surveyed countries combined.</string>
	<string>Women make up more than 10% of the prison population in only six countries: Thailand, , Qatar, Paraguay, Costa Rica, and Singapore.</string>
	<string>People trust Swedes! Swedish companies are the world’s least-likely to be perceived as paying bribes.</string>
	<string>84% of people in Finland feel that they are at a low risk of experiencing a burglary - but just look at how many burglaries they have!</string>
	<string>‘Dollar’ is the most common currency name, followed by ‘franc,’ ‘pound,’ ‘dinar,’ ‘peso,’ and ‘rupee.’</string>
	<string>You can be imprisoned for not voting in Fiji, Chile and Egypt - at least in theory.</string>
	<string>In the last Argentinian elections, 21% of the votes were declared invalid.</string>
	<string>In Belgium, 55% of government ministers are female. The country’s first female parliamentarian was appointed in 1921.</string>
	<string>Most people live in poverty in most African countries.</string>
	<string>The top nations for per capita imports and exports tend to be very small.</string>
	<string>The eight most developed countries all speak Germanic languages.</string>
	<string>72% of people in Mali earn less than $1 per day.</string>
	<string>41% world&apos;s poor people live in India.</string>
	<string>The ten most generous countries are all in Europe.</string>
	<string>Americans are 15% more innovative than the Japanese. But in percentage terms, the Japanese grant 3.5 times more patents.</string>
	<string>United we stand? The United Kingdom and United States are both in the top ten for Gross Domestic Product - and for child poverty.</string>
	<string>Three of the top ten countries for GDP per capita are island nations: Bermuda, Cayman Islands, and Iceland.</string>
	<string>France is the top destination in the world for tourists, accounting for 11 percent of all tourist arrivals worldwide.</string>
	<string>The top ten tourist destinations France, Spain, USA, Italy, China, UK, Austria, Mexico, Germany and Canada account for 49.6 percent of all tourist arrivals worldwide.</string>
	<string>The number of tourists in San Marino is almost 19 times the resident population.</string>
	<string>Want your kids to stay in school? Send them to Norway.</string>
	<string>English speaking kids are the world&apos;s biggest novel readers - but the least enthusiastic comic readers.</string>
	<string>Japanese and South Korean kids are the best in the world at science and maths.</string>
	<string>Three quarters of Japanese kids read comics.
</string>
	<string>American adults have spent more time than anyone in education.</string>
	<string>There are 22 countries where more than half the population is illiterate. Fifteen of them are in Africa.</string>
	<string>The women of Iceland earn two-thirds of their nation&apos;s university degrees.</string>
	<string>More than half of Indonesia&apos;s primary school teachers are under 30 years of age.</string>
	<string>Thinking of becoming a teacher? Head to Switzerland. Teaching salaries there start at $US 33,000.</string>
	<string>Kids in Mali spend only 2 years in school. More than half of them start working between the ages of 10 and 14.</string>
	<string>Teachers make up 7.8 percent of Iceland’s labor force - and they only have to teach 38 weeks per year.</string>
	<string>Central European men don’t teach. In Hungary, the Czech Republic, and Slovakia, over 75 percent of lower secondary teachers are female.</string>
	<string>Qataris have lots and lots of gas.</string>
	<string>Japan has 53 working nuclear reactors and is planning to build another 12.</string>
	<string>The top 10 countries for electricity generation using a nuclear energy source are all in Europe.</string>
	<string>Almost half of Ecuador is subject to environmental protection.</string>
	<string>Japan&apos;s water has a very high dissolved oxygen concentration - but not enough to prevent drowning in the bath.</string>
	<string>Indonesia contains the most known mammal species - and the most mammal species under threat.</string>
	<string>The total area of Australia’s coral reefs is greater than the total area of any of 130 individual countries, including Slovakia, the Dominican Republic, Kuwait, Singapore, and Rwanda.</string>
	<string>There are more known reptile species in Australia than in all other listed countries combined.</string>
	<string>The United States has the world&apos;s highest number of McDonald’s restaurants per capita. </string>
	<string>Americans also die of obesity more often than any other nation, with more deaths than Mexico, Germany, Spain, Austria and Canada combined.</string>
	<string>Norwegians drink 10.7 kilograms of coffee per person each year. They also lead the globe in anxiety disorders. Maybe it’s time to switch to herbal tea.</string>
	<string>Americans consume the sixth-most spirits, the eighth-most beer and the 18th-most wine. They’re also likely to view heavy drinkers as undesirable neighbors.</string>
	<string>Norwegians consume more than 15 times as much coffee per person as the Irish.</string>
	<string>The average person in the United Kingdom drinks as much tea as 23 Italians</string>
	<string>Guinea has the wettest capital on Earth, with 3.7 metres of rain a year.</string>
	<string>Clipperton Island is a pretty unusual looking country.</string>
	<string>Only two countries in the world are doubly landlocked: Liechtenstein and Uzbekistan.</string>
	<string>Sick of crowds? Move to Greenland! Greenlanders have 38 square kilometres of land per person.</string>
	<string>If you thought Antarctica was inhospitable, think again - its land area is only ninety-eight percent ice. Reassuringly, the other 2% is categorised as &quot;barren rock&quot;.</string>
	<string>Only 4% of married women in Chad are using contraceptives.</string>
	<string>More than half of all doctors in Finland are female.</string>
	<string>One in three Italian babies is born by caesarean section.</string>
	<string>Libya is the only country with a single-coloured flag.</string>
	<string>Nepal’s flag isn’t square or rectangular. It’s a double triangle.</string>
	<string>Peru’s national bird is the Andean cock of the rock (Rupicola peruviana).</string>
	<string>Libya’s full name is the Great Socialist People’s Libyan Arab Jamahiriya.</string>
	<string>The Mall in Washington, D.C. is 1.4 times larger than Vatican City.</string>
	<string>The four largest nations are Russia, China, USA, and Canada.</string>
	<string>Brazil takes up 47.8% of South America.</string>
	<string>Canada lays claim to more water than any other nation.</string>
	<string>Almost the entire Cook Islands are covered by forest.</string>
	<string>In Ethiopia, nine out of ten births occur without skilled health staff present.</string>
	<string>The United States tops the world in plastic surgery procedures. Next comes Mexico.</string>
	<string> Switzerland has the world&apos;s highest number of hospital beds per capita.</string>
	<string>Contrary to the popular rhyme, the rain falls mainly on Guinea.</string>
	<string>Australia has more than 28 times the land area of New Zealand, but its coastline is not even twice as long.</string>
	<string>Got a parking ticket in Finland? Better just pay up - it is the least corrupt nation in the world.</string>
	<string>Members of the armed forces and the police cannot vote in the Dominican Republic.</string>
	<string>Nauru, Tokelau and Western Sahara are the only three countries without official capital cities.</string>
	<string>Nauru is the world&apos;s smallest independent republic.</string>
	<string>Most Zambians don&apos;t live to see their 40th birthday.</string>
	<string>On the probability of not reaching 40 graph, the top 34 countries are all African.
</string>
	<string>In Botswana, more than one in three adults aged 15-49 are infected with HIV/AIDS.</string>
	<string>The average woman in New Zealand doesn&apos;t give birth until she is nearly 30 years old.</string>
	<string>Mexican women spend 15.3% of their life in ill health.</string>
	<string>22% of American women aged 20 gave birth while in their teens. In Switzerland and Japan, only 2% did so.</string>
	<string>The top five countries of origin for refugees are all in Africa.</string>
	<string>Canada is immigrant-friendly. It confers the most new citizenships per capita and per $ GDP, and the second-most new citizenships overall.</string>
	<string>Apparently, the Federated States of Micronesia is the place to leave - and Afghanistan is the place to go.</string>
	<string>Want to go to the United States? Try going to Albania first. Albania has more U.S visa lottery winners per capita than anywhere else in the world.</string>
	<string>China loses 2 million people per year.</string>
	<string>In 2002, every 1000 Swedes made a bus.</string>
	<string>Japan leads the world in car production, producing almost 50% more cars than either of its next closest competitors, Germany and the United States</string>
	<string>9 in 10 Dutch use the internet.</string>
	<string>Around 80% of all livejournal users are from the United States of America.</string>
	<string>Guatamalan women work 11.5 hours a day, while South African men work only 4.5.</string>
	<string>Kenyan women work 35% longer than their menfolk.</string>
	<string>Ethiopians are by far the most agricultural people on earth</string>
	<string>Looking for Czech and Slovak men? Half are in factories.</string>
	<string>Women are flooding into the workforce in many Muslim countries.</string>
	<string>American women have the most powerful jobs.</string>
	<string>Southern European women hugely outnumber their menfolk amongst the unemployed.</string>
	<string>Don&apos;t start a company in Australia. More than 20% of the tax collected in Australia is corporate income tax.</string>
	<string>Danish workers strike 150 times more than their German neighbours.</string>
	<string>Brazil is the heliport capital of the world.</string>
	<string>In Australia, there&apos;s plenty of open road. Which is just as well, because you wouldn&apos;t want to park your car.</string>
	<string>More than a third of the time, Icelanders don&apos;t show up for work. Perhaps that&apos;s why they&apos;re the world&apos;s happiest nation.</string>
	<string>Somalia is the most corrupt country in the world followed by Iraq and Myanmar.</string>
	<string>The least corrupt country is Denmark followed by New Zealand and Sweden.</string>
	<string>Bulgaria is the country with the biggest population decrease – 35% or 2.6 million followed by Swaziland with 33% or 378,000.</string>
	<string>The most populous country is China with 1.34 billion people followed by India with 1.18 billion people.</string>
	<string>Uganda is the country with the biggest population increase – 267% followed by Niger with 261%.</string>
	<string>American planes take-off a staggering 8.5 million times per year - almost half the number of take-offs worldwide.</string>
	<string>In Switzerland, the average person has to work for 102 minutes to buy a kilogram of beef.</string>
	<string>More than a third of the world&apos;s airports are in the United States of America.</string>
	<string>In Germany and Italy, every second person owns a car.</string>
	<string>Japan has more road than Canada.</string>
	<string>Abkhazia is the most recent independent country in the world. It became independent on August 26, 2008 followed by South Ossetia on August 8, 2008.</string>
	<string>The country with the most neighbors is Russia with 16 neighbors followed by China with 14 neighboring countries.</string>
	<string>The world’s largest country is Russia with an area of 17.09 million km² followed by Canada with an area of 9.98 million km².</string>
	<string>The country with the highest murder rate is El Salvador with a rate of 55.3% murders per 100,000 population followed by Honduras with 49.9%.</string>
	<string>The Pitcairn Islands have the world’s shortest highway system, with only 6.4 kilometers of road. They also have the fourth-fewest main phone lines.</string>
	<string>In Switzerland, the average person has to work 14 hours to buy a refrigerator.</string>
	<string>About one-quarter of all nations drive on the left-hand-side of the road. Most of them are former British colonies.</string>
	<string>Train spotters should go to Australia - Australians have more railway per capita than anyone else on the globe.</string>
	<string>In Denmark, more than 50% of the tax collected is personal income tax. In the Netherlands, personal income tax makes up less than 15%.</string>
	<string>Malaysia has the lowest rate of cinema attendance in the world.</string>
	<string>Finns are perhaps the world&apos;s greatest athletes, ranking first in medals per capita for Summer Olympics, and third for Winter Olympics.</string>
	<string>Russia won the first World Air Games, held in Turkey in 1997. Events included hang-gliding, sky-surfing, and ballooning.</string>
	<string>At least 9 out 10 Nigerians attend church regularly. Only 4 out of 10 Americans claim to do so.</string>
	<string>If you are looking for work, just go to the Falkland Islands! They have full employment and a labor shortage.</string>
	<string>People in Germany, Belgium, Hungary and Sweden have to pay almost half their salaries in tax.</string>
	<string>South America is unusual in that it is both highly urbanized and poor.</string>
	<string>Many Americans live alone - the United States leads the world in one person households.</string>
	<string>Kazakhstan is the world&apos;s largest landlocked country.</string>
	<string>Looking for geniuses? Head straight to Iceland. There are more than 3 Nobel Prize Winners for every million Icelanders.</string>
	<string>Sri Lanka has lowest divorce rate in the world - and the highest rate of female suicide.</string>
	<string>Australians have a huge 380,000 sq m of land per person - and yet 91% live in urban areas.</string>
	<string>Nearly a quarter of people in Monaco are over 65.</string>
	<string>The United States has the world&apos;s highest marriage rate - as well as the world&apos;s highest divorce rate.</string>
	<string>If you&apos;re Dutch or Swedish, you&apos;re among the world&apos;s most likely to end up living in a retirement home. If you&apos;re Japanese, you&apos;ll probably end up living with your children.</string>
	<string>If you&apos;re Dutch or Swedish, you&apos;re among the world&apos;s most likely to end up living in a retirement home. If you&apos;re Japanese, you&apos;ll probably end up living with your children.</string>
	<string>Of all the nations of the world, China has the most people. But there are 71 nations that are more crowded.</string>
	<string>Most households in Europe and North America contain fewer than three people.</string>
	<string>Like living in cities? Guadeloupe, Nauru, Monaco, Singapore, Gibraltar and Bermuda are only nations that are 100% urbanised.</string>
	<string>There are 11 countries where the average woman has more than six children. Ten of them are in Africa.</string>
	<string>Mali and Niger have 7 children born per woman, yet their populations grow at less than 3% per year.</string>
	<string>A three-minute local phone call in Ecuador costs 60 U.S. cents, 60 times as much as in Ukraine, Macedonia, Saudi Arabia, Nepal, or Uzbekistan.</string>
	<string>Taiwan and Luxembourg are the only countries in the world where the mobile phones outnumber the people!</string>
	<string>Israel enjoys a GDP per capita 21 times that of the Palestinian West Bank and 33 times that of the Gaza Strip. Its military spending per capita tops the world.</string>
	<string>North Korea spends the most of its GDP on its military.</string>
	<string>If you&apos;re looking to invade someone by sea, try Canada which has only 9000 Navy personnel guarding the longest national coastline in the world.</string>
	<string>China has the most workers, so it&apos;s a good thing they&apos;ve also got the most TV&apos;s.</string>
	<string>Moldova has one of the smallest artillery forces in Europe, and the highest rate in the world of death by powered lawnmower. Coincidence? Surely not.</string>
	<string>Bolivia has 4,500 Navy personnel - which seems like quite a lot for a landlocked country!</string>
	<string>You are more likely to be reported as having been killed by lightning in Cuba than in any other country.</string>
	<string>You are more likely to be reported as having been killed by lightning in Cuba than in any other country.</string>
	<string>Andorrans live the longest, four years longer than in neighbouring France and Spain.</string>
	<string>Luxembourg have the world&apos;s richest people - and also the most generous.</string>
	<string>If you like kids, then Uganda might be the place for you. Half the population is under 15!</string>
	<string>Senior gentlemen might consider a trip to Russia, where there are two women over 65 for every man.</string>
	<string>Single guys should check out The Virgin Islands, where the women outnumber the men.</string>
	<string>If someone you know died from falling out of a tree, you’re probably from Brazil.</string>
	<string>Indians go out to the movies 3 billion times a year - much more than any other nation.</string>
	<string>The USA has more personal computers than the next 7 countries combined.</string>
	<string>Americans and Icelanders go to the cinema 5 times a year, on average. The average Japanese person goes only once.</string>
	<string>The United States has the most money, airports, radios and Internet Service Providers.</string>
	<string>61.5% of Swedes work more than 40 hours per week, but just across the border in Norway only 15.8% of people work this long.</string>
	<string>Houses in English-speaking countries have the most rooms.</string>
	<string>62% of Bulgarians describe themselves as either &apos;not very&apos; or &apos;not at all&apos; happy.</string>
	<string>The fourteen unhappiest countries are all in Eastern Europe.</string>
	<string>22% of New Zealanders have used cannabis.</string>
	<string>This is the only fact on North Korea -- get it?</string>
	<string>Australians are the most likely to join charities and voluntary work / organizations</string>
	<string>Australians lead the world in hours worked and membership in many voluntary organizations</string>
	<string>The five countries with the highest coffee consumption are also the five countries whose citizens trust one another the most. Coincidence? Probably.</string>
	<string>In all the countries surveyed, women do more housework than men.
</string>
	<string>Canadians drink more fruit juice than the citizens of any other nation - more than one litre each, every week.</string>
	<string>Andorra has no unemployment, which is just as well because they have no broadcast TV channels either. What would everyone watch?</string>
</array>
</plist>
